<ul class='membershipList'>
  <% memberships_with_display_member.each do |membership, member| %>
    <li class='membershipList__membership'>
      <div>
        <h2><%= link_to member.name, member %></h2>

        <% if member.industry_association? %>
          <p class='entity__meta'>
            <%= render "industry_associations/collection_summary", entity: member %>
          </p>
        <% elsif member.company? %>
          <% if member.memberships.reject {|m| m.eql? membership }.any? %>
            <p class='entity__meta'>
              Also member of
              <strong>
                <%= member.memberships.reject {|m| m.eql? membership }.map { |m| m.industry_association.short_name_or_fallback }.join(', ') %>
              </strong>
            </p>
          <% end %>
        <% end %>

        <% if membership.notes.present? %>
          <div class='membershipList__notes'>
            <%= parse_and_sanitize_markdown(membership.notes) %>
          </div>
        <% end %>

        <% if current_researcher&.is_editor? %>
          <%= link_to 'Edit notes', edit_membership_path(membership, t: @entity&.class), class: 'editLink' %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
