<%= content_for(:meta_title_front, "Edit membership") %>

<%= form_for(@membership, html: { class: 'form--entities' }) do |f| %>
  <% if @membership.errors.any? %>
    <div class="notification notification--error notification--formIntro">
      <p class="notification__text">We were unable to save this membership, because:</p>
      <ul>
        <% @membership.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label(
      :notes,
      "Add a note about #{@membership.company.name}'s membership to #{@membership.industry_association.name}",
    )
    %>
    <p class='helperText'>
      What are the key things, like fees or board positions, to know about this membership?
    </p>
    <p class='helperText'>
      You can use
      <%= link_to 'Markdown formatting', 'https://en.wikipedia.org/wiki/Markdown#Example', title: 'Learn how to use Markdown formatting.' %>
      to add some structure and links.
    </p>
    <%= f.text_area(:notes, rows: 4) %>
  </fieldset>

  <%= hidden_field_tag(:lead_entity_type, @lead_entity_type) %>

  <%= f.submit 'Submit', class: 'input--submit' %>
<% end %>
