<% if @entity.industry_association? %>
  <%= content_for(:meta_title_front, "Members — #{@entity.name}") %>
<% else %>
  <%= content_for(:meta_title_front, "Memberships — #{@entity.name}") %>
<% end %>

<%= render(
  "application/breadcrumbs",
  steps: [
    (@entity.company? ? :companies : :industry_associations),
    @entity,
    :memberships
  ]
) %>

<div class='itemsPage'>
  <div class='itemsPage__header__container'>
    <header class='itemsPage__header'>
      <div class='itemsPage__header__content'>
        <h1>
          <span class='preHeading'><%= @entity.name %></span>
          <% if @entity.industry_association? %>
            Members
          <% else %>
            Industry Association Memberships
          <% end %>
        </h1>

        <% if current_researcher&.is_editor? %>
          <% if @entity.industry_association? %>
            <%= link_to 'Add a membership', new_industry_association_membership_path(@entity), title: "Add the companies that are members of #{@entity.name}", class: ('editLink' if @entity.members.any?) %>
          <% elsif @entity.company? %>
            <%= link_to 'Add a membership', new_company_membership_path(@entity), title: "Add the industry associations that #{@entity.name} belongs to.", class: ('editLink' if @entity.industry_associations.any?) %>
          <% end %>
        <% end %>
      </div>
      <%= render "entities/entities_nav", entity: @entity %>
  </header>
  </div>
  <section class='itemsPage__body'>
    <%= render(
      "members_list",
      memberships_with_display_member: @memberships_with_entities
    ) %>
  </section>
</div>
