<%= content_for(:meta_title_front, 'Add a new membership') %>

<%= link_to( '← Back',
             @return_to,
             title: 'Abandon any changes without saving and go back.',
             onclick: 'window.onbeforeunload = function() { return true; };',
             class: 'button--transparent') %>

<%= form_for([@entity, @membership], html: { class: 'form--memberships' }) do |f| %>
  <h1>
    Add a
    <% if @entity.is_a? Company %>
      industry association membership for <%= @entity.name %>
    <% elsif @entity.is_a? IndustryAssociation %>
      member to <%= @entity.short_name_or_fallback %>
    <% end %>
  </h1>

  <% if @membership.errors.any? %>
    <div class="notification notification--error notification--formIntro">
      <p class="notification__text">We were unable to save this membership, because:</p>
      <ul>
        <% @membership.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <% if @entity.is_a? Company %>
      <%= f.label(:industry_association_id, 'Industry association') %>
      <%= f.label(:industry_association_id, 'What organisation are they a member of? e.g. Minerals Council of Australia.', class: 'helperText') %>
      <%= f.collection_select(
        :industry_association_id,
        IndustryAssociation.order(:name).reject {|t| @entity.industry_associations.include? t },
        :id,
        :name,
        { prompt: true },
        { required: true }
      ) %>
    <% elsif @entity.is_a? IndustryAssociation %>
      <%= f.label(:company_id, 'Company') %>
      <%= f.label(:company_id, 'Which companies are members?', class: 'helperText') %>
      <%= f.collection_select(
        :company_id,
        Company.order(:name).reject {|c| @entity.members.include? c},
        :id,
        :name,
        { prompt: true },
        { required: true }
      ) %>
    <% end %>
  </fieldset>
  <%= f.submit 'Submit', class: 'input--submit' %>
<% end %>
