<div class='item__stagingActions'>
  <% if item.dismissed? %>
    <%= button_to(
      'Return to staging',
      dismiss_staging_item_path(item),
      class: 'button button--inline button--primary',
      form_class: 'form--inline form--dismissButton',
      params: { dismiss: 'false' }
    ) %>

  <% else %>
    <%= button_to(
      'Dismiss',
      dismiss_staging_item_path(item),
      class: 'button button--inline button--secondary',
      form_class: 'form--inline form--dismissButton',
      params: { dismiss: 'true' }
    ) %>

    <%= link_to(
      'Add item',
      new_item_path(
        url: item.url,
        entity: item.entity&.slug,
        type: item.type,
        published_at: item.published_at,
        staging_item_id: item.id
      ),
      class: 'item__addAction button button--primary'
    )%>
  <% end %>
</div>
