<p class='item__stagingSource'>
  Collected <%= item.created_at.to_s(:short_with_zone) %>
  <% if current_researcher %>
    from
    <%= link_to_if(
      item.item_feed.info_url.present?,
      item.item_feed.name,
      item.item_feed.info_url,
      title: 'View this source.',
      target: '_blank'
    ) %>
  <% end %>
</p>
