<h2 class='infoBox__heading'>Industry association memberships</h2>

<% if membership_entities.any? %>
  <p>
    <%= company.name %> is a member of
    <%= to_sentence membership_entities.map {|industry_association| "the #{link_to(industry_association.name, industry_association, title: "See the lobbying activities of the #{industry_association.name}")}".html_safe} %>.
  </p>

  <%= link_to 'View all memberships', company_memberships_path(company), title: "View all the industry associations that #{company.name} belongs to." %>
<% else %>
  <p>We're yet to list <%= company.name %>'s memberships. Please let us know of any.</p>
<% end %>
