<nav class='subNav'>
  <ul>
    <li class='subNav__item <%= 'subNav__item--current' if current_page?(entity)%>'>
      <%= link_to 'Public lobbying', entity, title: 'View our collection of this groups lobbying activites', class: "subNav__link" %>
    </li>
    <li class='subNav__item <%= 'subNav__item--current' if current_page?(company_memberships_path(entity)) || current_page?(industry_association_members_path(entity))%>'>
      <% if entity.company? %>
        <%= link_to 'Memberships', company_memberships_path(entity), title: "View all the industry associations that #{entity.name} belongs to.", class: "subNav__link" %>
      <% elsif entity.industry_association? %>
        <%= link_to 'Members', industry_association_members_path(entity), title: "View all companies that are members of #{entity.name}.", class: "subNav__link" %>
      <% end %>
    </li>
  </ul>
</nav>
