<h2 class='infoBox__heading'>Who supports this lobbying?</h2>

<% if membership_entities.any? %>
  <p>
    <%= industry_association.short_name_or_fallback %>&rsquo;s members include
    <%= to_sentence membership_entities.map {|member| "#{link_to(member.name, member, title: "See the lobbying activities of #{member.name}")}".html_safe} %>.
  </p>

  <%= link_to "View all #{pluralize(industry_association.members.size, 'members')}", industry_association_members_path(industry_association), title: "View all companies that are members of #{industry_association.name}." %>
<% else %>
  <p>We're yet to list <%= industry_association.short_name_or_fallback %>'s members. Please pass on any information you have.</p>
<% end %>
