<header class='itemsResults__header'>
  <h2 class='itemsResults__title'>
    Public lobbying activities
    <% if include_industry_association_items %>
      by <%= entity.short_name_or_fallback %>
      and the industry associations they fund
    <% end %>
  </h2>

  <% if entity.is_a? Company %>
    <% if include_industry_association_items %>
      <%= link_to "View items from #{entity.short_name_or_fallback} only", company_path(entity, company_only: true), title: "Exclude lobbying activities by the industry associations #{entity.short_name_or_fallback} fund." %>
    <% else %>
      <%= link_to "Include lobbying by the industry associations #{entity.short_name_or_fallback} funds", entity, title: "Include lobbying activities by the industry associations #{entity.short_name_or_fallback} fund." %>
    <% end %>
  <% end %>

  <% if @tag %>
    <div class='infoBox infoBox--small'>
      <h3 class='infoBox__heading infoBox__heading--small'><%= @tag.name %></h3>
      <% if @tag.short_description.present? %>
        <div class='infoBox__content'>
          <%= @tag.short_description %>
          <%= link_to "read more", tag_path(@tag), title: "Read more about #{@tag.name}." %>
        </div>
      <% end %>
    </div>
  <% end %>
</header>

<%= render 'items/list', items: items, entity: entity %>

<%= will_paginate items, class: 'itemList__pagination' %>
