<h2><%= type %></h2>

<% if entities %>
  <ul class='entitiesList'>
    <% entities.each do |entity| %>
      <li>
        <%= link_to entity, class: 'entity' do %>
          <%= render entity, entity: entity %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
