<%= link_to( '← Back',
             @return_to,
             title: 'Abandon any changes without saving and go back.',
             onclick: 'window.onbeforeunload = function() { return true; };',
             class: 'button--transparent') %>

<%= form_for(@entity.becomes(Entity), html: { class: 'form--entities' }) do |f| %>
  <h1><%= @entity.name %></h1>

  <% if @entity.errors.any? %>
    <div class="notification notification--error notification--formIntro">
      <p class="notification__text">We were unable to save this entity, because:</p>
      <ul>
        <% @entity.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>
      Describe the <%= @entity.short_name_or_fallback %>
    </legend>
    <p>
      Add a short description for people who don't know all the players.
      What are the key things to know about the <%= @entity.short_name_or_fallback %>?
    </p>

    <%= f.label(:description, 'Add a description') %>
    <p class='helperText'>
      You can use
      <%= link_to 'Markdown formatting', 'https://en.wikipedia.org/wiki/Markdown#Example', title: 'Learn how to use Markdown formatting.' %>
      to add some structure and links.
    </p>
    <%= f.text_area(:description, rows: 4) %>
  </fieldset>

  <%= f.submit 'Submit', class: 'input--submit' %>
<% end %>
