<%= content_for(:meta_title_front, 'Add a new entity to track') %>

<%= link_to( '← Back',
             @return_to,
             title: 'Abandon any changes without saving and go back.',
             onclick: 'window.onbeforeunload = function() { return true; };',
             class: 'button--transparent') %>

<%= form_for(@entity.becomes(Entity), html: { class: 'form--entities' }) do |f| %>
  <h1>Add a new lobby group</h1>

  <% if @entity.errors.any? %>
    <div class="notification notification--error notification--formIntro">
      <p class="notification__text">We were unable to save this entity, because:</p>
      <ul>
        <% @entity.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label(:name, 'Full name') %>
    <%= f.label(:name, 'The full name for the organisation, e.g. Minerals Council of Australia.', class: 'helperText') %>
    <%= f.text_field(:name, placeholder: 'e.g. Minerals Council of Australia', required: true) %>
    <% if @entity.errors[:name].any? %>
      <%= f.label(
        :slug,
        @entity.errors[:name].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label(:type, 'What type of entity is this?') %>
    <%= f.select(
      :type,
      Entity::TYPES.map { |t| [t.underscore.humanize, t] },
      selected: (@entity&.type)
    ) %>
  </fieldset>

  <fieldset class='fieldgroup--short'>
    <%= f.label(:short_name, 'Short name') %>
    <%= f.label(:short_name, 'The abbreviation name for the organisation, e.g. MCA.', class: 'helperText') %>
    <%= f.text_field(:short_name, placeholder: 'e.g. MCA') %>
    <% if @entity.errors[:short_name].any? %>
      <%= f.label(
        :slug,
        @entity.errors[:short_name].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
  </fieldset>

  <fieldset class='fieldgroup--short'>
    <%= f.label(:slug, 'Slug') %>
    <%= f.label(:slug, "The string of characters used for the URL, e.g. #{content_tag(:code, 'mca')}.".html_safe, class: 'helperText') %>
    <%= f.text_field(:slug, placeholder: 'e.g. mca', required: true, class: 'input--slug') %>
    <% if @entity.errors[:slug].any? %>
      <%= f.label(
        :slug,
        @entity.errors[:slug].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label(:description, 'Add a description') %>
    <p class='helperText'>
      Add a short description for people who don't know all the players.
      What are the key things to know about this group?
    </p>
    <p class='helperText'>
      You can use
      <%= link_to 'Markdown formatting', 'https://en.wikipedia.org/wiki/Markdown#Example', title: 'Learn how to use Markdown formatting.' %>
      to add some structure and links.
    </p>
    <%= f.text_area(:description, rows: 4) %>
  </fieldset>

  <%= f.submit 'Submit', class: 'input--submit' %>
<% end %>
