<%= content_for(:meta_title_front, @entity.name) %>

<%= render(
  "application/breadcrumbs",
  steps: [
    (@entity.company? ? :companies : :industry_associations),
    @entity
  ]
) %>

<div class='itemsPage'>
  <div class='itemsPage__header__container'>
    <header class='itemsPage__header'>
      <div class='itemsPage__header__content'>
        <h1><%= @entity.name %></h1>
        <% if @entity.description.present? %>
          <div class='lede itemsPage__header__description'><%= parse_and_sanitize_markdown(@entity.description) %></div>
          <% if current_researcher&.is_editor? %>
            <%= link_to 'Edit', edit_entity_path(@entity), title: "Edit #{@entity.name}", class: 'editLink' %>
          <% end %>
        <% elsif current_researcher&.is_editor? %>
          <em>
            <%= link_to 'Add a description', edit_entity_path(@entity), title: "Edit #{@entity.name}" %> of <%= @entity.name %>,
            to give people some context when viewing this page.
          </em>
        <% end %>
      </div>
      <%= render "entities/entities_nav", entity: @entity %>
    </header>
  </div>

  <section class='itemsPage__body itemsSection'>
    <%= render(
      "entities/items_results",
      filters: @filters,
      items: @items,
      entity: @entity,
      include_industry_association_items: @include_industry_association_items
    ) %>

    <section class='itemsSection__membershipsSummary infoBox infoBox--light'>
      <% if @entity.company? %>
        <%= render("entities/company_memberships", company: @entity, membership_entities: @membership_entities) %>
      <% elsif @entity.industry_association? %>
        <%= render("entities/industry_association_memberships", industry_association: @entity, membership_entities: @membership_entities) %>
      <% end %>
    </section>
  </section>
</div>
