<%= content_for(:meta_title_front, 'Dismissed items') %>

<%= render(
  "application/breadcrumbs",
  steps: [
    :staging,
    :dismissed
  ]
) %>

<div class='itemsPage'>
  <div class='itemsPage__header__container'>
    <header class='itemsPage__header'>
      <div class='itemsPage__header__content'>
        <h1>Dismissed items</h1>
        <div class='lede'>
          <p>
            We've dismissed these items to clean up the staging area.
          </p>
        </div>
      </div>
    </header>
  </div>

  <section class='itemsPage__body itemsPage__body--noHeading itemsSection'>
    <% if @dismissed_items.any? %>
      <%= render "items/days_with_items", days_with_items: @days_with_items %>
    <% end %>
  </section>
</div>
