<% if @staging_item.dismissed? %>
  Dismissed item.
  <%= button_to(
    'Undo',
    dismiss_staging_item_path(@staging_item),
    title: 'Un-dismiss this item.',
    class: 'button--link',
    form_class: 'form--inline',
    params: { dismiss: 'false' }
  ) %>
<% else %>
  Successfully returned item to staging.
  <%= link_to(
    'View item',
    staging_path(anchor: "item-#{@staging_item.id}")
  ) %>
<% end %>
