<%= content_for(:meta_title_front, 'Staging Area') %>

<%= render(
  "application/breadcrumbs",
  steps: [
    :staging
  ]
) %>

<div class='itemsPage'>
  <div class='itemsPage__header__container'>
    <header class='itemsPage__header'>
      <div class='itemsPage__header__content'>
        <h1>Staging Area</h1>
        <div class='lede'>
          <p>
            These are items we've collected using a range of automated tools.
            Add anything relevant you find to the public listings.
          </p>
        </div>
        <p>
          We keep all dismissed items for review and later inclusion.
        </p>
        <%= link_to 'View all dismissed items', staging_dismissed_path, title: 'View dismissed items as return them to the staging area.' %>
      </div>
    </header>
  </div>

  <section class='itemsPage__body itemsPage__body--noHeading itemsSection' id='stagingItemsList'>
    <% if @filters %>
      <div class='filterBar filterBar--primary'>
        <%= form_for(staging_path, method: :get, html: { class: 'form--itemFilters filterBar__form' }) do %>
          <legend class='form--itemFilters__title screenReaderText'>Filters</legend>
          <fieldset class='form--itemFilters__fieldset form--itemFilters__fieldset--search'>
            <%= label_tag :q, 'Filter by text', class: 'form--itemFilters__label' %>
            <%= text_field_tag :q, @filters[:q], class: 'form--itemFilters__searchField' %>
          </fieldset>
          <%= render "items/filter_fieldset", selected: @filters[:type], field: 'type', collection: Item.distinct.pluck(:type).collect { |t| [t.pluralize.upcase_first, t] unless t.blank? }.compact %>
          <%= render "items/filter_fieldset", selected: @entity&.slug, field: 'entity', collection: Entity.find(ItemFeed.distinct.pluck(:entity_id)).collect { |e| [e.name, e.slug] } %>
          <%= submit_tag 'Filter', class: 'form--itemFilters__submit', name: nil %>
        <% end %>
        <p class='filterBar__resultSummary'><%= pluralize(@staging_items.count, 'item') %></p>
      </div>
    <% end %>

    <% if @staging_items.any? %>
      <%= render "items/days_with_items", days_with_items: @days_with_items %>
      <%= will_paginate @staging_items, class: 'itemList__pagination' %>
    <% else %>
      <section class='itemList__emptyMessage--primary'>
        <p>We've added all the items, nice work :)</p>
      </section>
    <% end %>
  </section>
</div>
