<div class='indexPage'>
  <header class='pageHeader'>
    <h1>Entities we watch</h2>
  </header>
  <div>
    <%= render "entities/list", type: 'Industry associations', entities: @industry_associations %>

    <%= render "entities/list", type: 'Companies', entities: @companies %>
    <%= link_to "See all #{pluralize(Company.count, 'company')}", companies_path, title: 'View the list of all companies in our records.' %>

    <% if current_researcher&.is_editor? %>
      <p>
        <%= link_to 'Add a new entity to track', new_entity_path, class: 'button--transparent' %>
      </p>
    <% end %>
  </div>
</div>
