<% if document.title.present? %>
  <%= link_to(
    document.url,
    title: "Open this web page at #{document.url_host}.",
    target: '_blank',
    rel: 'noopener noreferrer',
    class: 'document__link'
  ) do %>
    <p class='document__title'>
      <%= document_title_highlighted(document) %>
    </p>
  <% end %>
<% end %>

<% if document.extract.present? %>
  <%= link_to(
    document.url,
    title: "Open this web page at #{document.url_host}.",
    target: '_blank',
    rel: 'noopener noreferrer',
    class: 'document__link'
  ) do %>
    <p class='document__summary'>
      <%= document_summary_highlighted(document) %>
    </p>
  <% end %>
<% end %>

<p class='document__meta'>
  <%= link_to(
    document.url,
    title: "Open this web page at #{document.url_host}.",
    target: '_blank',
    rel: 'noopener noreferrer',
    class: 'document__link'
  ) do %>
    <span class='document__source'><%= document.url_host %> &ndash;</span>
    <span class='document__pubdate'><%= document.published_at_display %></span>
    <svg class='icon document__externalLinkIcon' width='21px' height='21px'>
      <use xlink:href='#icon-external-link'></use>
    </svg>
    <% if document.paywalled %>
      <span class='document__paywalled'>paywalled</span>
    <% end %>
  <% end %>
</p>
