<article class='document <%= 'item__document' if item %> <%= 'tweet' if document.is_tweet? %>'>
  <div class='document__wrapper'>
    <% if document.is_tweet? && document.has_tweet_data? %>
      <%= render "documents/tweet", tweet: document.tweet, document: document %>
    <% else %>
      <%= render "documents/default", document: document %>
    <% end %>

    <% if document.syndication_url %>
      <%= link_to(
        'Archived',
        document.syndication_url,
        class: 'document__archiveLink',
        target: '_blank',
        rel: 'noopener noreferrer',
        title: 'View this URL in the Wayback Machine.'
      ) %>
    <% end %>
  </div>
</article>
