<%= link_to(
  document.url,
  title: "Open this web page at #{document.url_host}.",
  target: '_blank',
  rel: 'noopener noreferrer',
  class: 'document__link'
) do %>
  <header class='tweet__header'>
    <img
      src='<%= tweet['user']['profile_image_url_https']%>'
      class='tweet_profileImage'
    />
    <p class='document__title tweet__userName'>
      <%= tweet['user']['name'] %>
      <span class='tweet__screenName'>
        @<%= tweet['user']['screen_name'] %>
      </span>
    </p>
  </header>
  <p class='document__summary'>
    <%= tweet_text_highlighter(tweet) %>
  </p>
<% end %>

<%= link_to(
  document.url,
  title: "Open this web page at #{document.url_host}.",
  target: '_blank',
  rel: 'noopener noreferrer',
  class: 'document__link'
) do %>
  <span class='document__timeStamp tweet__timeStamp'>
    <%= Time.parse(tweet['created_at']).strftime('%l:%M %p UTC · %b %e, %Y') %>
  </span>
<% end %>
