<h3 class='entity__name'><%= company.name %></h3>
<% if company.memberships %>
  <p class='entity__meta'>
    Member of
    <strong>
      <%= company.industry_associations.map(&:short_name_or_fallback).join(', ') %>
    </strong>
  </p>
<% end %>
