<div class='indexPage'>
  <header class='pageHeader'>
    <h1>Companies</h1>
  </header>
  <div>
    <% if @companies %>
      <ul class='entitiesList'>
        <% @companies.each do |company| %>
          <li>
            <a class='entity' href="<%= company_path(company) %>">
              <%= render company %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
