<%= content_for(:meta_title_front, "Edit Tag") %>

<%= link_to( '← Back',
             @return_to,
             title: 'Abandon any changes without saving and go back.',
             onclick: 'window.onbeforeunload = function() { return true; };',
             class: 'button--transparent') %>

<%= form_for(@tag, url: tag_path(@tag.name.tr(' ', '+')), html: { class: 'form--entities' }) do |f| %>
  <h1>Edit tag</h1>

  <% if @tag.errors.any? %>
    <div class="notification notification--error notification--formIntro">
      <p class="notification__text">We were unable to save this tag, because:</p>
      <ul>
        <% @tag.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label(:name, 'Tag name') %>
    <%= f.label(:name, 'We prefer precise names. Use "Kyoto carryover credits" over just "Kyoto" for that concept, for example.', class: 'helperText') %>
    <%= f.text_field(:name, placeholder: 'e.g. "Tania Constable", or "ALP Election 2019 Climate Policy Announcement"', required: true) %>
    <% if @tag.errors[:name].any? %>
      <%= f.label(
        :name,
        @tag.errors[:name].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label(:description) %>
    <p class='helperText'>
      What are the key things to know about this tag and the items it collects?
    </p>
    <p class='helperText'>
      You can use
      <%= link_to 'Markdown formatting', 'https://en.wikipedia.org/wiki/Markdown#Example', title: 'Learn how to use Markdown formatting.' %>
      to add some structure and links.
    </p>
    <%= f.text_area(:description, rows: 4) %>
  </fieldset>

  <%= f.submit 'Submit', class: 'input--submit' %>
<% end %>

<div class='form--entities'>
  <h2>Danger zone</h2>
  <p>
    Deleting this tag removes it, it's description,
    and all <strong><%= @tag.taggings_count %> existing connections to our collection</strong>.
    It won't be straight forward to recover.
  </p>
  <p>
    <%= button_to(
      'Delete tag',
      @tag,
      action: :destroy,
      method: :delete,
      data: { confirm: 'Are you sure?' },
      class: 'button button--danger'
    ) %>
  </p>
</div>
