<%= content_for(:meta_title_front, 'Tags') %>

<div class='indexPage'>
  <header class='pageHeader'>
    <h1>Tags</h1>
  </header>
  <div>
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to tag.name, tag %>
          (<%= pluralize(tag.taggings_count, 'item') %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>
