<%= content_for(:meta_title_front, "#{@tag.name}") %>

<%= render('application/breadcrumbs', steps: [:tags, @tag]) %>

<div class='itemsPage'>
  <div class='itemsPage__header__container'>
    <header class='itemsPage__header'>
      <h1>
        <span class='preHeading'>Lobbying tagged</span>
        <%= @tag.name %>
      </h1>

      <% if @tag.description.present? %>
        <div class='contentPage__longDescription'>
          <%= parse_and_sanitize_markdown(@tag.description) %>
        </div>
      <% end %>

      <% if current_researcher&.is_editor? %>
        <p><%= link_to 'Edit tag', edit_tag_path(@tag), title: 'Change the name and description of this tag.', class: 'editLink' %></p>
      <% end %>
    </header>
  </div>

  <section class='itemsPage__body itemsSection'>
    <header class='itemsResults__header'>
      <h2>Related lobbying activity</h2>
      <p><%= pluralize(@items.count, 'item') %></p>
    </header>
    <%= render 'items/list', items: @items, entity: nil %>
  </section>
</div>
