<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form--signIn' }) do |f| %>
  <legend>Log in</legend>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "current-password", required: true %>

  <% if devise_mapping.rememberable? %>
    <fieldset class="inputGroup--inline">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Keep me logged in' %>
    </fieldset>
  <% end %>

  <%= f.submit "Log in", class: 'input--submit' %>
<% end %>

<%= render "devise/shared/links" %>
