<section class='itemList itemList--primary itemList--hangingDays'>
  <% days_with_items.each do |day, items| %>
    <h3 class='itemList__day itemList__day--primary'>
      <% if day&.eql? Date.today %>
        <span title='<%= day&.strftime("%e %b %Y")&.squish %>'>
          Today
        </span>
      <% elsif day && day > 10.days.ago %>
        <span title='<%= day&.strftime("%e %b %Y")&.squish %>'>
          <%= time_ago_in_words(day) %> ago
        </span>
      <% else %>
        <%= day&.strftime('%e %b %Y')&.squish %>
      <% end %>
    </h3>
    <ul class='itemList__list itemList__list--primary'>
      <% items.each do |item| %>
        <li>
          <%= render 'items/item', item: item %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
