<fieldset class='form--itemFilters__fieldsetform--item form--itemFilters__fieldset--attr form--itemFilters__fieldset--<%= field %>'>
  <%= label_tag(
    field,
    "Filter by #{field}",
    class: 'form--itemFilters__label'
  ) %>
  <%= select_tag(
    field,
    options_for_select(collection, selected: selected),
    include_blank: "All #{field.pluralize}"
  ) %>
</fieldset>
