<%= form_for(path, method: :get, html: { class: 'form--itemFilters filterBar__form' }) do %>
  <legend class='form--itemFilters__title screenReaderText'>Filters</legend>
  <fieldset class='form--itemFilters__fieldset form--itemFilters__fieldset--search'>
    <%= label_tag :q, 'Filter by text', class: 'form--itemFilters__label' %>
    <%= text_field_tag :q, @filters[:q], class: 'form--itemFilters__searchField' %>
  </fieldset>
  <%= render "items/filter_fieldset", selected: filters[:tag], field: 'tag', collection: Gutentag::Tag.order(:name).map {|t| [t.name, t.name]} %>
  <%= render "items/filter_fieldset", selected: filters[:type], field: 'type', collection: Item.distinct.pluck(:type).collect { |t| [t.pluralize.upcase_first, t] unless t.blank? }.compact %>
  <%= render "items/filter_fieldset", selected: filters[:year], field: 'year', collection: years_for_filters %>
  <%= submit_tag 'Filter', class: 'form--itemFilters__submit', name: nil %>
<% end %>
