<%= link_to( '← Back',
             return_to,
             title: 'Abandon this item without saving and go back.',
             onclick: 'window.onbeforeunload = function() { return true; };',
             class: 'button--transparent') %>

<%= form_for(setup_item(item), html: { class: 'form--items' }) do |f| %>
  <legend class='form--items__legend'><%= form_topic %></legend>

  <% if item.errors.any? %>
    <div class="notification notification--error notification--formIntro form--items__notification">
      <p class="notification__text">We were unable to save this item, because:</p>
      <ul>
        <% item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <% if item.errors.details[:document_id].find {|e| e[:error].eql? :taken } %>
      <p class="notification__text">
        <%
            pre_item_document = Document.find(item.errors.details[:document_id].find {|e| e[:error].eql? :taken }[:value])
            entity = Entity.find(item.entity_id)
            pre_item = pre_item_document.items.where(entity_id: entity.id).first
        %>
        <%= link_to(
          'See the existing item that references this URL',
          pre_item,
          title: 'View the item this document, which is preventing this item from being saved.'
        ) %>
      </p>
      <% end %>
    </div>
  <% end %>

  <%= f.fields_for :document do |ff| %>
    <% if item.document&.has_preview? %>
      <div class='form--items__document'>
        <%= render('documents/document', document: item.document, item: item) %>
        <%= ff.hidden_field(:url) %>
        <%= ff.hidden_field(:id) %>
      </div>
    <% else %>
      <fieldset class='form--items__fieldset'>
          <%= ff.label(:url, 'URL') %>
          <%= ff.url_field(:url, value: (item.url ? item.url : params[:url].presence) ) %>
          <% if item.errors[:document_id].any? %>
            <%= ff.label(
              :url,
              item.errors[:document_id].pop,
              class: 'helperText helperText--error'
            ) %>
          <% end %>
      </fieldset>
    <% end %>

    <% if item.document&.has_preview? && item.document&.published_at.present? %>
      <%= ff.hidden_field(:published_at) %>
    <% else %>
      <fieldset class='form--items__fieldset form--items__fieldset--thin'>
        <%= ff.label(:published_at, 'Date published') %>
        <%= ff.date_field(:published_at, html: {pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}'}) %>
        <% if item.errors[:published_at].any? %>
          <%= ff.label(
            :published_at,
            item.errors[:published_at].pop,
            class: 'helperText helperText--error'
          ) %>
      <% end %>
      </fieldset>
    <% end %>
  <% end %>

  <fieldset class='form--items__fieldset form--items__fieldset--thin'>
    <%= f.label(:type, 'Type') %>
    <%= f.text_field(:type, list: 'item_type_list', class: 'awesomplete', placeholder: 'E.g. Media release or Tweet', data: { tabSelect: true, minchars: 1, autofirst: true }) %>
    <% if item.errors[:type].any? %>
      <%= f.label(
        :type,
        item.errors[:type].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
    <datalist id='item_type_list'>
      <% Item.distinct.pluck(:type).compact.each do |type| %>
        <option value='<%= type %>'>
      <% end %>
    </datalist>
  </fieldset>

  <fieldset class='form--items__fieldset'>
    <%= f.label(:entity_id, 'Who\'s lobbying here?') %>
    <%= f.select(:entity_id, prompt: true) do %>
      <% if Entity.any? %>
        <%= content_tag(:option, 'Select an organisation', value: nil) %>
        <% Entity.order(:name).group_by(&:type).each do |type, entities| %>
          <%= tag(:optgroup, label: type&.tableize&.humanize) %>
          <% entities.each do |e| %>
            <%= content_tag(
              :option,
              e.name,
              value: e.id,
              selected: if e.id.eql?(item.entity_id)
                          true
                        elsif entity
                          e.id.eql?(entity.id)
                        end
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if item.errors[:entity_id].any? %>
      <%= f.label(
        :entity_id,
        item.errors[:entity_id].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
  </fieldset>

  <hr class='form--items__sectionBreak' />

  <fieldset class='form--items__fieldset'>
    <%= f.label(:summary, 'Summary') %>
    <p class='helperText'>
      You can use
      <%= link_to 'Markdown formatting', 'https://en.wikipedia.org/wiki/Markdown#Example', title: 'Learn how to use Markdown formatting.' %>
      to add some structure and <code>*</code><em>emphasis</em><code>*</code>.
    </p>
    <%= f.text_area(:summary, rows: 7) %>
    <% if item.errors[:summary].any? %>
      <%= f.label(
        :summary,
        item.errors[:summary].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
  </fieldset>

  <fieldset class='form--items__fieldset'>
    <%= f.label(:tag_names, 'Tags') %>
    <%= f.label(:tag_names, 'A comma separated list of topics, featured people and organisations, or other tags. For example: "Energy, Tania Constable".', class: 'helperText') %>
    <%= f.text_field(:tag_names, list: 'item_tag_list', value: item.tag_names.join(', '), class: 'awesomplete', data: { multiple: true, tabSelect: true, minchars: 1, autofirst: true }) %>
    <% if item.errors[:tag_names].any? %>
      <%= f.label(
        :tag_names,
        item.errors[:tag_names].pop,
        class: 'helperText helperText--error'
      ) %>
    <% end %>
    <datalist id='item_tag_list'>
      <% Gutentag::Tag.all.select(:name).map do |tag_name| %>
        <option value='<%= tag_name.name %>'>
      <% end %>
    </datalist>
  </fieldset>

  <%= f.hidden_field(:staging_item_id, value: item.staging_item.id) if item.staging_item %>

  <%= f.submit 'Submit', class: 'input--submit form--items__submit' %>
<% end %>
