<article id='item-<%= item.id %>' class='item <%= 'item--staging' if item.is_a?(StagingItem) %>'>
  <p class='item__details'>
    <% if item.entity %>
      <%= link_to item.entity.name, item.entity, title: "View #{item.entity.name}.", class: 'item__entityName' %>
    <% end %>
    <% path = if item.is_a? StagingItem
                url_for(anchor: "item-#{item.id}")
              else
                item_path(item, context: context_code(@context))
              end %>
    <%= link_to(item.type, path, class: 'item__type') if item.type %>
  </p>
  <div class='item__content'>
    <% if item.summary.present? %>
      <div class='item__summary'>
        <%= item_summary_highlighted(item) %>
      </div>
    <% end %>

    <%= render('documents/document', document: item.document, item: item) if item.document %>
    <%= render("staging_items/source_sentence", item: item) if show_item_source?(item)%>
  </div>

  <% if item.tag_names&.any? %>
    <p class='item__tagNames'>
      <% item.tags.each do |t| %>
        <%= link_to t.name, t, class: 'tagName' %>
      <% end %>
    </p>
  <% end %>

  <% if current_researcher&.is_editor? %>
    <% if item.is_a?(StagingItem) %>
      <%= render "staging_items/item_actions", item: item %>
    <% else %>
      <%= link_to 'Edit', edit_item_path(item), class: 'editLink' %>
    <% end %>
  <% end %>
</article>
