<% if @filters %>
<div class='filterBar filterBar--primary'>
  <%= render "items/filters", path: (@entity ? entity : :items), filters: @filters %>
  <p class='filterBar__resultSummary'><%= pluralize(@items.count, 'item') %></p>
</div>
<% end %>

<% if items.any? %>
  <%= render "items/days_with_items", days_with_items: @days_with_items %>
<% else %>
  <section class='itemList__emptyMessage--primary'>
    <%= render "items/empty_list_content", entity: entity, filters: @filters %>
  </section>
<% end %>

<ul class='actionsList actionsList--primary'>
  <% if items.any? %>
    <li class='actionsList__actionItem'>
      <%= link_to 'Download as spreadsheet', request.query_parameters.merge(format: :csv), title: 'Download these items as a Comma-separated spreadsheet file (CSV)', html: { download: 'download' }%>
    </li>
  <% end %>
</ul>
