<table class='itemTable'>
  <thead>
    <tr>
      <% if @include_industry_association_items %>
        <th>By</th>
      <% end %>
      <th>Date</th>
      <th>Type</th>
      <th>Summary</th>
      <th>Tags</th>
      <th>URL</th>
      <% if current_researcher %><th>Actions</th><% end %>
    </tr>
  </thead>
  <tbody>
    <% items.order(published_at: :desc).each do |item| %>
      <tr class='itemRow' id='item-<%= item.id %>'>
        <% if @include_industry_association_items %>
          <td><%= link_to item.entity.short_name_or_fallback, entity_path(item.entity), title: "View #{item.entity.name}." %></td>
        <% end %>
        <td><%= item.published_at %></td>
        <td class='itemRow__typeCell'><%= item.type %></td>
        <td class='itemRow__summaryCell'><%= item.summary %></td>
        <td class='itemRow__tagsCell'>
          <% item.tag_names.each do |t| %>
            <%= link_to t, entity_path(tag: t) %>
          <% end %>
        </td>
        <td class='itemRow__urlCell'>
          <a href='<%= item.url %>' target='_blank' rel='noopener noreferrer'>
            <%= item.url %>
          </a>
        </td>
        <% if current_researcher %>
          <td><a href='<%= edit_item_path(item) %>'>Edit</a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
