<%= content_for(:meta_title_front, 'Items') %>

<%= render('application/breadcrumbs', steps: [:items]) %>

<div class='itemsPage'>
  <div class='itemsPage__header__container'>
    <header class='itemsPage__header'>
      <div class='itemsPage__header__content'>
        <h1>Latest items</h1>
        <div class='lede'>
          <p>
            Our collection of the latest public lobbying activities by the Australian fossil fuels lobby.
          </p>
        </div>
      </div>
    </header>
  </div>

  <section class='itemsPage__body itemsPage__body--noHeading itemsSection'>
    <%= render 'items/list', items: @items, entity: nil %>
    <%= will_paginate @items, class: 'itemList__pagination' %>
  </section>
</div>
