<%= content_for(:meta_title_front, @item.name) %>

<%= render(
  'application/breadcrumbs', steps: item_breadscrumb_steps_for_context(@item, @context)
) %>

<div class='contentPage'>
  <div class='contentPage__section contentPage__showItem'>
    <%= render @item %>
  </div>
</div>
