$default-speed: .1s;

.document {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 38em;
}

.document__wrapper {
  border: 1px solid #ccc;
  border-radius: $ms1;
  display: block;
  padding: $ms-2 $ms1;
  overflow: hidden;

  &:hover,
  &:focus {
    background: #efefef;
    transition: $default-speed ease background;
  }
}

.document__link {
  &:link {
    text-decoration: none;
  }
}

.document__title {
  color: initial;
  font-weight: bold;
  margin-top: 0;
  opacity: .85;
}

.document__summary,
.document__timeStamp {
  color: initial;
  opacity: .7;
}

.document__summary {
  margin-top: 0;
}

.document__externalLinkIcon {
  opacity: .8;
}

.document__title,
.document__summary,
.document__externalLinkIcon,
.document__timeStamp {
  .document__wrapper:hover &,
  .document__wrapper:focus & {
    opacity: 1;
    transition: $default-speed ease opacity;
  }
}

.document__meta,
.document__timeStamp {
  float: left;
}

.document__meta {
  margin-top: 0;

  > a {
    text-decoration: none;
  }
}

.document__paywalled {
  color: #555;
}

.document__archiveLink {
  display: inline-block;
  font-size: $ms1;
  margin-left: $ms-4;

  &:link,
  &:visited {
    color: #555;
  }
}
