.entitiesList {
  list-style: none;
  padding: 0;

  @media screen and (min-width: 400px) {
    display: grid;
    grid-template-columns: repeat(
      auto-fit, minmax(378px, 1fr)
    );
    grid-gap: $ms5;
  }
}

.entity {
  display: block;
  margin-bottom: $ms-4;
  padding: $ms-4 0 $ms1;

  &:link {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.entity__name {
  font-size: $ms2;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.25;
  margin-top: 0;
  padding-right: 2em;
  text-transform: none;

  @media screen and (min-width: 35em) {
    flex: 0 1 auto;
  }

  @media screen and (min-width: 43em) {
    font-size: $ms3;
  }
}

.entity__meta {
  margin: 0;

  :link &,
  :visited & {
    color: #333;
  }

  @media screen and (min-width: 35em) {
    flex: 0 0 auto;
  }
}
