.filterBar {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form--itemFilters {
  align-items: center;
  color: #555;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0 $ms3;
  width: 100%;

  @media screen and (min-width: 50em) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 60em) {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
  }

  input,
  select {
    @media screen and (min-width: 60em) {
      margin-top: 0;
      padding: $ms-2;
    }
  }
}

.form--itemFilters__fieldset--search,
.form--itemFilters__submit,
.form--itemFilters__fieldset--tag {
  grid-column: 1 / -1;
}

.form--itemFilters__fieldset--search {
  width: 100%;

  input {
    @media screen and (min-width: 60em) {
      max-width: 30rem;
    }
  }
}

.form--itemFilters__fieldset--tag {
  @media screen and (min-width: 50em) {
    grid-column: span 1;
  }
}

.form--itemFilters__fieldset--type,
.form--itemFilters__fieldset--entity,
.form--itemFilters__fieldset--year {
  grid-column: 1 / -1;

  @media screen and (min-width: 30em) {
    grid-column: span 1;
  }
}

.form--itemFilters__fieldset--attr,
.form--itemFilters__submit {
  @media screen and (min-width: 60em) {
    flex: 0 1 auto;
    margin: 0 $ms2 0 0;
    max-width: 20rem;
  }
}

.form--itemFilters__fieldset--type {
  @media screen and (min-width: 60em) {
    max-width: 13rem;
  }
}

.form--itemFilters__fieldset--year {
  @media screen and (min-width: 60em) {
    max-width: 8rem;
  }
}

.form--itemFilters__label {
  font-weight: normal;
  margin-top: 0;
}

.form--itemFilters__submit {
  margin-top: $ms-1;

  @media screen and (min-width: 60em) {
    margin: 0;
    max-width: 8rem;
  }
}

.filterBar__resultSummary {
  font-size: $ms3;
}
