fieldset,
input,
label,
optgroup,
option,
select,
textarea {
  display: block;
  width: 100%;
  font-size: $ms2;
}

fieldset {
  border: 0;
  padding: 0;
  margin-bottom: $ms1;
}

.form--inline {
  display: inline;
  font-size: inherit;
  width: auto;
}

.inputGroup--inline {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  margin-bottom: $ms1;
  padding: 0;
}

input,
textarea,
select {
  border: 0.125rem #ccc solid;
  border-radius: .25em;
  margin-bottom: $ms1;
  padding: $ms-1 $ms-3;

  &:focus {
    border-color: #000;
  }

  fieldset & {
    margin-bottom: 0;
  }

  .field_with_errors & {
    border: .2rem lighten(#c52f24, 25%) solid;
    border-radius: .25em .25em 0 0;
  }
}

.input--slug {
  font-family: monospace;
}

input[type="checkbox"] {
  width: $ms2;
  margin: 0 $ms-1 0 0;
}

input[disabled="true"] {
  cursor: not-allowed;
}

label {
  font-weight: bold;
  margin-top: $ms2;

  + input,
  + select,
  + textarea,
  + div.awesomplete {
    margin-top: $ms-4;
  }
}

legend {
  @extend h2;
}

textarea {
  font-family: inherit;
  min-height: $ms11;
}

button,
.input--submit {
  background: blue;
  border-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus {
    background: lighten(blue, 20%);
  }

  &:active {
    background: black;
    border-color: black;
  }
}

.helperText {
  font-size: $ms1;
  font-weight: normal;
  margin: 0 0 $ms-3;
}

.helperText--error {
  background: lighten(#c52f24, 25%);
  border-radius: 0 0 .25em .25em;
  font-weight: bold;
  padding: 0 $ms-3 $ms-4;
}

.awesomplete {
  width: 100%;
}
