.form--headerSearch {
  border: 0.125rem #ccc solid;
  border-radius: .25em;
  display: flex;
  padding: 0;

  &:focus {
    border-color: #000;
  }
}

.form--headerSearch__searchField {
  border: 0;
  flex: 1 1 auto;
  font-size: .875rem;
  padding: $ms-4 $ms-3;
  margin: 0;
  width: 9rem;

  @media screen and (min-width: 40em) {
    font-size: $ms2;
    padding: $ms-2 $ms-2;
    width: auto;
  }

  &:focus {
    border-color: #000;

    ~ button .icon {
      fill: #000;
    }
  }
}

.form--headerSearch__submit {
  border: 0;
  background: none;
  width: 2rem;

  @media screen and (min-width: 40em) {
    width: 3rem;
  }

  &:hover,
  &:focus {
    background: #ccc;

    .icon {
      fill: #000;
    }
  }

  .icon {
    fill: #888;
    height: 1.1rem;
    width: 1.1rem;

    @media screen and (min-width: 40em) {
      height: unset;
      width: unset;
    }
  }
}

