.infoBox {
  border: 1px solid #ccc;
  border-radius: .25em;
  box-shadow: .25em .25em rgba(0,0,0,.2);
  margin: $ms1 0;
  padding: $ms2 $ms2;
  min-width: 40%;
  width: -moz-fit-content;
  width: fit-content;
}

.infoBox--small {
  padding: $ms-3 $ms-1;
  min-width: 40%;
}

.infoBox--light {
  box-shadow: .125em .125em .25em rgba(0,0,0,.2);
}

.infoBox__heading {
  letter-spacing: 0;
  margin-top: 0;
  text-transform: none;
}

.infoBox__heading--small {
  font-size: $ms2;
}

.infoBox__content {
  margin-bottom: $ms-4;
}
