.itemTable {
  width: 100%;
}

.itemRow__typeCell {
  white-space: nowrap;
}

.itemRow__summaryCell {
  min-width: 20rem;
}

.itemRow__tagsCell {
  min-width: 13rem;
}

.itemRow__urlCell {
  a {
    display: block;
    overflow: hidden;
    max-width: 20rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
