.itemList__list {
  list-style: none;
  padding: 0;
  margin: 0;

  .item {
    margin-bottom: $ms8;

    &:target {
      background: lighten(#f6dca2, 10%);
      padding-left: .5rem;
    }
  }
}

.itemList__day {
  font-size: $ms2;
  letter-spacing: 0;
  margin-top: 0;
  text-transform: none;
}

.item {
  position: relative;

  .editLink {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

.item--staging {
  @media screen and (min-width: 43em) {
    display: grid;
    grid-gap: $ms2;
    grid-template-columns: auto auto;
  }
}


.item__document {
  margin: $ms2 0 $ms2;

  @media screen and (min-width: 43em) {
    margin: $ms2 0 $ms3;
  }

  .item--staging & {
    @media screen and (min-width: 43em) {
      margin-top: 0;
    }
  }
}

.item__details {
  margin-top: 0;

  .item--staging & {
    grid-column: 1 / 3;
  }
}

.item__type,
.item__entityName,
.item__link,
.editLink {
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.item__type {
  color: #555;

  &:link,
  &:visited {
    color: #555;
  }
}

.item__entityName {
  font-weight: bold;

  &:link,
  &:visited {
    color: #000;
  }
}

.item__content {
  .item--staging & {
    @media screen and (min-width: 43em) {
      grid-column: 1 / 2;
    }
  }
}

.item__summary {
  color: #000;
  font-size: $ms2;

  @media screen and (min-width: 43em) {
    font-size: $ms3;
  }

  > p:first-child {
    margin-top: 0;
  }
}

.item__link {
  display: inline-block;
}

.item__tagNames {
  margin: $ms1 0 $ms2;
}

.tagName:link {
  background: #eee;
  display: inline-block;
  font-size: $ms1;
  padding: .2em $ms-4;
  margin: 0 $ms-4 $ms-4 0;
  text-decoration: none;
}

.item__stagingActions {
  padding-top: $ms2;
  text-align: right;

  .item--staging & {
    @media screen and (min-width: 43em) {
      grid-column: 2 / 3;
      padding-top: 0;
    }
  }

  :last-child {
    margin-left: $ms-2;
  }
}

.item__stagingSource {
  color: #555;
  font-size: $ms-1;
  margin-top: $ms-3;

  a {
    color: #555;
  }
}

.item--dismissed {
  > * {
    opacity: .5;
    transition: ease-in .15s opacity;
  }

  .item__stagingActions {
    opacity: 1;
  }

  .item__addAction {
    display: none;
  }
}
