.itemFeedList {
  list-style: none;
  padding-left: 0;

  @media screen and (min-width: 35em) {
    padding-left: $ms3;
  }
}

.itemFeed {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 2rem;
}

.itemFeed__title,
.itemFeed__stats {
  margin-top: 0;
}

.itemFeed__stats {
  margin-bottom: $ms1;
}

