$defaultTextBlock: 53rem;
$sitePadding: 0 1em;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  @supports (display: grid) {
    align-items: stretch;
    display: grid;
    grid-template-areas:
      "header"
      "body"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: max-content auto max-content;
    height: 100%;
  }
}

.siteHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $sitePadding;
  padding-top: .5em;
}

.siteHeader__logo {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.siteHeader__searchForm {
  flex: 0 1 auto;
}

main {
  @supports (display: grid) {
    grid-area: body;
  }
}

.indexPage {
  padding: $sitePadding;

  @media screen and (min-width: 50em) {
    margin: 0 $ms5;
  }
}

.minimalWrapper {
  padding: $sitePadding;
}

.contentPage {
  padding: $sitePadding;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;

    @media screen and (min-width: 60em) {
      grid-column-gap: 1rem;
    }
  }
}

.contentPage__header,
.pageHeader {
  @media screen and (min-width: 50em) {
    margin-top: $ms6;
  }
}

.contentPage__headerSection,
.contentPage__section {
  @supports (display: grid) {
    grid-column: 3 / 4;
  }
}

.contentPage__headerSection--padded {
  margin-bottom: $ms3;
}

.contentPage__headerSection,
.itemList__list--primary,
.contentPage__showItem {
  @media screen and (min-width: 70em) {
    width: $defaultTextBlock;
  }
}

.contentPage__itemsResults {
  @supports (display: grid) {
    grid-column: 3 / 4;

    @media screen and (min-width: 70em) {
      display: grid;
      grid-column: 1 / 4;
      grid-column-gap: 1rem;
      grid-template-columns: 1fr $defaultTextBlock;
    }
  }
}

.contentPage__itemsResults__header,
.filterBar--primary,
.actionsList--primary,
.itemList__emptyMessage--primary,
.itemList__pagination {
  @supports (display: grid) {
    grid-column: 1 / 3;

    @media screen and (min-width: 70em) {
      grid-column: 2 / 3;
    }
  }
}

.itemList__pagination {
  text-align: center;
  align-self: center;
}

.notification {
  padding: 1em;
}

.newItemButton {
  bottom: 0;
  padding: 0 1em;
  position: fixed;
  text-align: right;
  margin: 0 0 .5em 0;
  right: 0;
  z-index: 5;
}

.breadcrumbs {
  padding: $sitePadding;
}

.siteFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $ms11;
  padding: 0 1em;
  z-index: 99;

  @supports (display: grid) {
    grid-area: footer;
  }

  p {
    margin-right: 1em;
  }
}
