.form--signIn {
  @media screen and (min-width: 30rem) {
    margin: 5rem auto 0;
    max-width: 25rem;
  }
}

.form--items,
.form--memberships {
  @media screen and (min-width: 30rem) {
    margin: 0 auto;
    max-width: 35rem;
  }

  legend {
    margin: 0;
  }
}

.form--entities {
  @media screen and (min-width: 30rem) {
    margin: 0 auto;
    max-width: 45rem;
  }

  h1 {
    margin: 0;
  }
}

.form--items {
  display: grid;
  grid-gap: 0 $ms3;
  grid-template-columns: 1fr 1fr;
}

.form--items__legend,
.form--items__notification,
.form--items__submit,
.form--items__sectionBreak {
  grid-column: 1 / 3;
}

.form--items__document,
.form--items__fieldset {
  grid-column: 1 / 3;
}

.form--items__fieldset--thin {
  grid-column: span 1;
}

.form--items__sectionBreak {
  margin: $ms5 0 $ms2;
}

.form--items__submit {
  margin: $ms6 0;
}
