.itemsPage__header__container {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.itemsPage__header,
.itemsPage__body {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: $sitePadding;
}

.itemsPage__header {
  @media screen and (min-width: 90em) {
    padding-top: $ms3;
  }
}

.itemsPage__header__content {
  padding-bottom: $ms1;
}

.itemsPage__body--noHeading {
  padding-top: $ms3;
}

.itemsPage__header__description {
  max-width: 55em;
}

.itemsResults__title {
  margin-top: $ms2;
}

.itemsSection {
  @supports (display: grid) {
    display: grid;
    grid-gap: $ms1 $ms5;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    @media screen and (min-width: 90em) {
      grid-template-columns: minmax(40rem, 60rem) 25rem;
    }
  }

  .itemsResults__header,
  .filterBar,
  .itemList,
  .itemList__emptyMessage--primary,
  .itemList__pagination,
  .actionsList {
    grid-column: 1 / -1;

    @media screen and (min-width: 90em) {
      grid-column: 1 / 2;
    }
  }

  .itemList__day--primary {
    @supports (display: grid) {
      @media screen and (min-width: 100em) {
        float: left;
        text-align: right;
        margin-left: -6rem;
        width: 6rem;
        padding-right: 1rem;
      }

      @media screen and (min-width: 107em) {
        float: left;
        text-align: right;
        margin-left: -10rem;
        width: 10rem;
        padding-right: 2rem;
      }
    }
  }
}

.itemsSection__membershipsSummary {
  grid-column: 1 / -1;

  @supports (display: grid) {
    @media screen and (min-width: 90em) {
      grid-column: 2 / 3;
      grid-row-start: 3;
      align-self: start;
    }
  }
}
