a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

a:link {
  color: blue;
  text-decoration: underline;
}

.button {
  background: blue;
  border: 0;
  color: white;
  border-radius: .25em;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1.2;
  padding: $ms-3 $ms-2;

  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background: lighten(blue, 15%);
  }

  &:active {
    background: black;
    color: white;
  }
}

.button--secondary {
  background: #eaeaea;
  color: #000;

  &:hover,
  &:focus {
    background: #efefef;
  }

  &:active {
    background: black;
    color: white;
  }
}

.button--danger {
  background: #eaeaea;
  color: lighten(#c52f24, 5%);
  font-weight: bold;

  &:hover,
  &:focus {
    background: #c52f24;
    color: #fff;
  }

  &:active {
    background: black;
    color: white;
  }
}

.button--link {
  background: none;
  border: 0;
  color: blue;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  width: auto;
}

.button--transparent {
  background: transparent;
  border: 0;
  color: blue;
  display: inline-block;
  padding: $ms-3 0;
}

.button--inline {
  display: inline;
  width: auto;
}

.newItemButton__link {
  box-shadow: .125em .125em .25em rgba(0,0,0,.5);
  padding: $ms-4 $ms-3;

  @media screen and (min-width: 30em) {
    padding: $ms-3 $ms-2;
  }

  &:before {
    content: '+ '
  }
}

.editLink {
  &:link,
  &:visited {
    color: #888;
    text-decoration: none;
  }
}
