.list--inline {
  display: inline-block;
  width: auto;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    width: auto;
  }
}

.actionsList {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.actionsList__actionItem {
  margin: $ms1 $ms1 $ms1 0;

  &:last-child {
    margin-right: 0;
  }
}

.breadcrumbs > ul {
  margin-top: 0;
}

.breadcrumb {
  &:after {
    content: '/';
    padding: 0 .25em 0 .5em;
    color: #555;
  }

  &:last-child:after {
    content: none;
  }
}

.breadcrumb__link {
  &:visited {
    color: blue;
  }
}

.subNav {
  display: block;
  margin: $ms-1 0 -1px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.subNav__item {
  margin-right: $ms-1;
}

.subNav__link {
  border: 1px transparent solid;
  border-color: #ccc #ccc transparent;
  display: block;
  font-size: $ms2;
  opacity: .85;
  padding: $ms-4 $ms-2;

  &:link {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  .subNav__item--current & {
    border-color: #aaa #aaa transparent;
    opacity: 1;
  }
}

.subNav__item--current {
  background-color: #fff;
}
