.membershipList {
  list-style: none;
  padding: 0;

  @media screen and (min-width: 70em) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $ms5;
  }
}

.membershipList__membership {
  grid-column: span 1;
}

.membershipList__notes {
  font-size: $ms2;

  @media screen and (min-width: 43em) {
    font-size: $ms3;
  }
}
