.notification {
  color: #000;
  font-weight: bold;
}

.notification--notice {
  background: #f6dca2;
  border-bottom: 0.125rem #eeb73f solid;
}

.notification--alert,
.notification--error {
  background: lighten(#c52f24, 20%);
  border-bottom: 0.125rem lighten(#c52f24, 10%) solid;
}

.notification--formIntro {
  margin-top: $ms3;
}

.notification__text {
  &:first-child {
    margin-top: 0;
  }
}
