table {
  border-collapse: collapse;
  max-width: 100%;
  text-align: left;
}

thead {
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

th {
  text-align: inherit;
}

td,
th {
  padding: $ms-4 $ms2 $ms-2 0;

  &:first-child {
    border: 0;
  }
}
