.tweet__header {
  align-items: center;
  background: transparent image-url('Twitter_Logo_Blue.svg') right center/2.5em no-repeat;
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: $ms-2;
  margin: $ms-4 0 $ms-2;

  @media screen and (min-width: 43em) {
    margin: $ms-3 0 $ms1;
  }
}

.tweet_profileImage {
  overflow: hidden;
  border-radius: 99999px;
}

.tweet__userName,
.tweet__timeStamp {
  font-size: $ms1;
}

.tweet__userName {
  line-height: 1.25;
}

.tweet__screenName {
  color: #888;
  display: block;
  font-weight: normal;
}

.tweet__timeStamp {
  color: initial;
}

.tweet__timeStamp,
.tweet .document__archiveLink {
  display: inline-block;
  margin-top: $ms2;
}

.tweet .document__archiveLink {
  margin-left: $ms-3;
}
