body {
  background: #fff;
  color: #323232;
  font-size: $ms1;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: $base-lineheight;
  text-rendering: optimizeLegibility;

  @media screen and (min-width: 43em) {
    font-size: $ms2;
  }
}

h1 {
  font-size: $ms3;
  line-height: 1.25;
  font-weight: bold;
  margin: $ms6 0 0;

  @media screen and (min-width: 43em) {
    font-size: $ms6;
  }

  @media screen and (min-width: 75em) {
    font-size: $ms8;
    margin: $ms6 0 0;
  }

  @media screen and (min-width: 85em) {
    margin: $ms9 0 0;
  }

  &:first-child {
    margin-top: 0;
  }

  + p {
    margin-top: 0;
  }
}

h2 {
  font-size: $ms3;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.25;
  margin: $ms6 0 0;
  text-transform: none;

  @media screen and (min-width: 43em) {
    font-size: $ms4;
    margin: $ms8 0 0;
  }

  + p {
    margin-top: 0;
  }
}

h3 {
  font-size: $ms2;
  font-weight: bold;
  line-height: $base-lineheight;
  margin: $ms5 0 0;
}

h4 {
  font-size: $ms1;
  font-weight: bold;
  line-height: $base-lineheight;
  margin: $ms2 0 0;
  text-decoration: underline;
}

h5 {
  margin: $ms2 0 0;
}

h6 {
  margin: $ms2 0 0;
}

p {
  margin: $ms2 0 0;
}

strong {
  font-weight: bold;
}

cite,
em {
  font-style: italic;
}

abbr {
  border-bottom: 1px #aaa dashed;
  cursor: help;
  letter-spacing: .125em;
  text-decoration: none;
}

code {
  font-family: monospace;
}

blockquote {
  font-style: italic;
  border-left-color: #eaeaea;
  border-left-style: solid;
  border-left-width: $ms-3;
  margin: $ms2 0;
  padding: 0 0 0 $ms2;

  @media screen and (min-width: 35em) {
    padding-left: $ms4;
  }
}

hr {
  border: 0;
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
  border-bottom-width: $ms-4;
  margin: $ms6 0;
  padding: 0;
}

.screenReaderText {
  /* Drawn from https://a11yproject.com/posts/how-to-hide-content/ */
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.logo {
  font-size: $ms3;
  font-weight: bold;

  @media screen and (min-width: 43em) {
    font-size: $ms4;
  }

  &:link,
  &:visited {
    color: initial;
    text-decoration: none;
  }
}

.filterBar__resultSummary {
  font-size: $ms2;
  font-weight: bold;
}

.lede {
  font-size: $ms2;

  @media screen and (min-width: 30em) {
    font-size: $ms3;
  }

  *:first-child {
    margin-top: 0;
  }

}

.contentPage__longDescription {
  > p:first-child {
    font-size: $ms2;

    @media screen and (min-width: 30em) {
      font-size: $ms3;
    }
  }
}

.preHeading {
  font-size: $ms2;
  display: block;

  @media screen and (min-width: 30em) {
    font-size: $ms4;
  }
}

.badge {
  border-radius: 1em;
  display: inline-block;
  font-size: $ms-1;
  margin: 0 1rem 0 .25em;
  padding: .25em;
  text-align: center;
  width: 2em;
}

.badge--contrast {
  background: #888;
}

.icon {
  vertical-align: middle;
}

.highlight {
  background: yellow;
  font-style: inherit;
}
