<div class='contentPage entitiesListContainer'>
  <header class='contentPage__header contentPage__section'>
    <h1>Feeds</h2>
  </header>
  <div class='contentPage__section'>
    <% @entities.each do |entity| %>
      <h2><%= entity.name %></h2>

      <% if entity.item_feeds.any? %>
        <ul class='itemFeedList'>
          <% entity.item_feeds.each do |item_feed| %>
            <li class='itemFeed'>
              <div class='itemFeed__body'>
                <h3 class='itemFeed__title'>
                  <%= link_to_if(
                    item_feed.info_url.present?,
                    item_feed.name,
                    item_feed.info_url,
                    title: 'View this source.',
                    target: '_blank'
                  ) %>
                </h3>
                <p class='itemFeed__stats'>
                  <%= item_feed.staging_items.where.not(item_id: nil).count %> in collection,
                  <%= item_feed.staging_items.where(item_id: nil, dismissed: false).count %> in staging,
                  <%= item_feed.staging_items.where(dismissed: true).count %> dismissed
                </p>
              </div>
              <div class='itemFeed__actions'>
                <% if item_feed.paused? %>
                  <span>Paused</span>
                  <%= button_to(
                    'Activate',
                    activate_staging_feed_path(item_feed),
                    class: 'button--inline button--link'
                  ) %>
                <% else %>
                  <%= button_to(
                    'Pause',
                    pause_staging_feed_path(item_feed),
                    class: 'button--inline button--link',
                    form_class: 'form--inline'
                  ) %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No feeds yet</p>
      <% end %>
    <% end %>
  </div>
</div>

