<nav class='breadcrumbs'>
  <ul class='list--inline'>
    <% if steps.first.eql? :companies %>
      <li class='breadcrumb'>
        <%= link_to 'Companies', companies_path, title: 'View all companies.', class: 'breadcrumb__link' %>
      </li>
    <% elsif steps.first.eql? :industry_associations %>
      <li class='breadcrumb'>
        <%= link_to 'Industry Associations', industry_associations_path, title: 'View all industry associations.', class: 'breadcrumb__link' %>
      </li>
    <% elsif steps.first.eql? :items %>
      <li class='breadcrumb'>
        <%= link_to 'Items', items_path, title: 'View all items.', class: 'breadcrumb__link' %>
      </li>
    <% elsif steps.first.eql? :tags %>
      <li class='breadcrumb'>
        <%= link_to 'Tags', tags_path, title: 'View all tags.', class: 'breadcrumb__link' %>
      </li>
    <% elsif steps.first.eql? :staging %>
      <li class='breadcrumb'>
        <%= link_to 'Staging area', staging_path, title: 'View staging area.', class: 'breadcrumb__link' %>
      </li>
    <% end %>

    <% unless steps.second.nil? %>
      <li class='breadcrumb'>
        <% if steps.second.eql? :dismissed %>
          <%= link_to_unless_current 'Dismissed', staging_dismissed_path, title: "View dismissed items.", class: 'breadcrumb__link' %>
        <% else %>
          <%= link_to_unless_current steps.second.name, steps.second, title: "View #{steps.second.name}.", class: 'breadcrumb__link' %>
        <% end %>
      </li>
    <% end %>

    <% if steps.third&.eql? :memberships %>
      <li class='breadcrumb'>
        <% if steps.second.company? %>
          <%= link_to_unless_current 'Memberships', company_memberships_path(steps.second), title: "View all the industry associations that #{steps.second.name} belongs to.", class: 'breadcrumb__link' %>
        <% elsif steps.second.industry_association? %>
          <%= link_to_unless_current 'Members', industry_association_members_path(steps.second), title: "View all companies that are members of #{steps.second.name}.", class: 'breadcrumb__link' %>
        <% end %>
      </li>
    <% elsif steps.third&.is_a? Item %>
      <li class='breadcrumb'>
        <%= link_to_unless_current steps.third.name, steps.third, title: "View #{steps.second.name}.", class: 'breadcrumb__link' %>
      </li>
    <% end %>
  </ul>
</nav>
