<div class='indexPage'>
  <header class='pageHeader'>
    <h1>Industry Associations</h1>
  </header>
  <div>
    <% if @industry_associations %>
      <ul class='entitiesList'>
        <% @industry_associations.each do |industry_association| %>
          <li>
            <a class='entity' href="<%= industry_association_path(industry_association) %>">
              <%= render industry_association %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
