<%= form_for(items_path, url: items_path, method: :get, html: { class: 'form--headerSearch siteHeader__searchForm' }) do %>
  <%= label_tag :head_q, 'Search collection for', class: 'form--headerSearch__label screenReaderText' %>
  <%= search_field_tag :head_q, nil, placeholder: 'Search collection', name: 'q', class: 'form--headerSearch__searchField', autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off' %>
  <%= button_tag type: 'submit', class: 'form--headerSearch__submit', name: nil do %>
    <span class='screenReaderText'>Search</span>
    <svg class='icon' width='21px' height='21px'>
      <use xlink:href='#icon-search'></use>
    </svg>
  <% end %>
<% end %>
