<footer class="siteFooter">
  <p>
    A project by the
    <%= link_to t('project_author.name'), 'https://accr.org.au', title: "Go to the #{t('project_author.short_name')} Website." %>
  </p>
  <ul class='list--inline'>
    <% if current_researcher %>
      <li>
        <%= link_to 'Staging area', staging_path, class: 'button--link' %>
      </li>

      <li class='form--inline'>
        <%= button_to 'Sign out', destroy_researcher_session_path, method: :delete, class: 'button--link', form_class: 'form--inline' %>
      </li>
    <% else %>
      <li>
        <a href='<%= new_researcher_session_path %>' title='Sign in to your account'>
          Sign in
        </a>
      </li>
    <% end %>
  </ul>
</footer>
