<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= meta_title(front_matter: content_for(:meta_title_front)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% flash.each do |flash_name, flash_msg| %>
        <div class="notification notification--<%= flash_name %>">
          <%= flash_msg.html_safe %>
        </div>
      <% end %>
      <% unless @minimal_layout %>
        <header class='siteHeader'>
          <%= link_to t('project_name'), root_path, title: 'Go to the home page.', rel: 'home', class: 'logo siteHeader__logo' %>
          <%= render "layouts/header_search" %>
        </header>
        <% if current_researcher&.is_editor? %>
          <div class='newItemButton'>
            <%= link_to 'New item', new_item_path(entity: @entity&.slug), class: 'button newItemButton__link' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <main <%= 'class=minimalWrapper' if @minimal_layout %>>
    <%= yield %>
    </main>

    <% unless @minimal_layout %>
      <%= render 'layouts/site-footer' %>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application-webpack' %>

    <svg display='none' xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" clip-rule="evenodd" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1" version="1.1"  xml:space="preserve" x="0px" y="0px">
      <symbol id='icon-external-link' viewBox="0 0 32 40">
        <rect width="32" height="32" fill="none"/>
        <path d="m27.98 2.9902a1.0001 1.0001 0 0 0 -0.11133 0.0097656h-7.8691a1.0001 1.0001 0 1 0 0 2h5.5859l-12.293 12.293a1.0001 1.0001 0 1 0 1.4141 1.4141l12.293-12.293v5.5859a1.0001 1.0001 0 1 0 2 0v-7.873a1.0001 1.0001 0 0 0 -1.0195 -1.1367z" clip-rule="nonzero" color="#000000" color-rendering="auto" dominant-baseline="auto" fill-rule="nonzero" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal;"/>
        <path d="m14 7c-2.4958 0-4.3819-0.0035797-5.8848 0.16602-1.5028 0.1696-2.7058 0.52712-3.5664 1.3887s-1.2142 2.0623-1.3828 3.5645c-0.16866 1.5021-0.16602 3.388-0.16602 5.8809 0 2.4935-0.00207 4.38 0.16992 5.8828 0.17199 1.5028 0.5339 2.7043 1.3965 3.5645 0.86259 0.86019 2.0634 1.2171 3.5645 1.3867s3.3831 0.16602 5.8691 0.16602c2.4863 0 4.3678 0.0011 5.8691-0.16992 1.5013-0.17106 2.7044-0.52958 3.5664-1.3906s1.2206-2.0624 1.3926-3.5645 0.17188-3.3858 0.17188-5.875a1.0001 1.0001 0 1 0 -2 0c0 2.4873-0.0086 4.3424-0.1582 5.6484-0.14956 1.3061-0.42506 1.9821-0.82031 2.377-0.39526 0.39482-1.0712 0.66958-2.377 0.81836s-3.1598 0.15625-5.6445 0.15625c-2.485 0-4.3385-0.006718-5.6445-0.1543-1.306-0.14758-1.9823-0.42089-2.377-0.81445s-0.67074-1.0701-0.82031-2.377-0.1582-3.1628-0.1582-5.6543c0-2.4922 0.00553-4.3487 0.15234-5.6562 0.14681-1.3075 0.42073-1.9828 0.8125-2.375 0.39177-0.3922 1.0671-0.66686 2.375-0.81445 1.3079-0.14759 3.1654-0.1543 5.6602-0.1543a1.0001 1.0001 0 1 0 0 -2z" clip-rule="nonzero" color="#000000" color-rendering="auto" dominant-baseline="auto" fill-rule="nonzero" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal;"/>
      </symbol>

      <symbol id='icon-search' viewBox="0 0 100 100">
        <path d="M80.65 66.78a33.55 33.55 0 01-47.44-47.44 33.55 33.55 0 1147.44 47.44zm6.73-54.16a43.06 43.06 0 00-65.32 55.71L2 88.39A6.8 6.8 0 0011.61 98l20.06-20.06a43.06 43.06 0 0055.71-65.32z"></path>
      </symbol>
    </svg>
  </body>
</html>
